@import "tailwindcss";

:root {
  --bg-color: #ffffffe4;
  --text-primary: #000000;
  --text-secondary: #4b5563; /* Darker gray (Gray 600) for Light Mode */
  --card-bg: #f3f4f6;
}

[data-theme="dark"] {
  --bg-color: #0f172a; /* Deep navy/slate for a premium dark look */
  --text-primary: #ffffff;
  --text-secondary: #9ca3aff8; /* Lighter gray (Gray 400) for Dark Mode */
  --card-bg: #1e293b;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}



